# Ignore appsettings files
appsettings.json
appsettings.*.json



# Ignore Visual Studio user-specific files
*.user
.vs/

# Ignore others that might be specific to your setup
*.log
*.bak
*.swp
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
/live_images/

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
/bin/Debug/net8.0/CoreBankingAPI.dll
/bin/Debug/net8.0/CoreBankingAPI.exe
/obj/Debug/net8.0/ref/CoreBankingAPI.dll
/obj/Debug/net8.0/refint/CoreBankingAPI.dll
/bin/Debug/net8.0/CoreBankingAPI.pdb
/obj/Debug/net8.0/staticwebassets/msbuild.build.CoreBankingAPI.props
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/CoreBankingAPI.AssemblyInfo.cs
/obj/Debug/net8.0/CoreBankingAPI.AssemblyInfoInputs.cache
/obj/Debug/net8.0/CoreBankingAPI.assets.cache
/obj/Debug/net8.0/CoreBankingAPI.csproj.AssemblyReference.cache
/obj/Debug/net8.0/CoreBankingAPI.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/CoreBankingAPI.dll
/obj/Debug/net8.0/CoreBankingAPI.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/CoreBankingAPI.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/CoreBankingAPI.genruntimeconfig.cache
/obj/Debug/net8.0/CoreBankingAPI.pdb
/obj/Debug/net8.0/CoreBankingAPI.sourcelink.json
/obj/Debug/net8.0/staticwebassets.build.json
/obj/CoreBankingAPI.csproj.nuget.dgspec.json
/obj/CoreBankingAPI.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
/CBS.API/live_images/images/12013
